@font-face {
    font-family: "Irish Grover";
    src: url("./fonts/IrishGrover-Regular.ttf");
}

@font-face {
    font-family: "Kalam";
    font-weight: 700;
    src: url("./fonts/Kalam-Bold.ttf");
}

@font-face {
    font-family: "Roboto";
    src: url("./fonts/Roboto-Regular.ttf");
}

* {
    margin: 0;
    font-family: "Roboto", sans-serif;
}